.landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing__content {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}