.adopt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.adopt-button {
    bottom: 0;
    left: 0;
    width: 33.3vw;
}

.adopt__content {
    width: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
}

button {
    padding: 1.5vh;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.circular-landscape {
    display: inline-block;
    position: relative;
    width: 6vh;
    height: 6vh;
    overflow: hidden;
    border-radius: 50%;
    border: 3px solid #44C3EE;
    margin-left: 2vw;
}

.circular-landscape img {
    width: auto;
    height: 100%;
    margin-left: -50px;
}

.congratulations {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.first-in-line {
    font-size: 4vh;
    color: #EF476F;
    font-weight: bold;
    margin-top: 7vh;

}

.get-in-queue {
    display: flex;
    flex-direction: column;
    width: 25vw;
}

input {
    padding: 1.5vh;
}

.next-in-line {
    background: #052B38;
    width: 33.3vw;
    text-align: center;
    color: white;
}

.people-in-queue {
    height: 20vh;
}

.queue-cat {
    border: solid #EF476F;
}

.queue-dog {
    border: solid #FFD166;
}

.queue-item {
    width: 33.3vw;
}

.queue-people {
    border: solid #06D6A0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
}

.up-for-adoption {
    display: flex;
    flex-direction: row;
}