.Header {
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #44C3EE;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    text-decoration: none;
    z-index: 100;;
}

h1 {
    font-size: 9vh;;
}
