.navigation {
    background-color: #052B38;
    width: 100vw;
    height: 8vh;
    position: fixed;
    left: 0;
    z-index: 50;
    display: flex;
    align-items: center;
    justify-content: center;;
}

.navigation-wrapper {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.navigation-item {
    text-decoration: none;
    color: white;
    margin: 0 2vw 0 2vw;

}